main div form{
    display: flex;
    justify-content: center;
}

.formulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 300px;
    width: 600px;
    margin: auto;
    padding: center;
    background-color: brown;
    gap: 20px;


}
