.infos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    margin: 30px 40px 20px 40px
}

#contact {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    margin-right: 5%;
    font-family: "Dancing Script", cursive;
    font-size: large;

}

#copyright{
    display: flex;
    align-content: flex-end;
    align-items: flex-end;

}