@media screen and (min-width: 600px){
    #menu-toggle{
        display: none;
    }
#menu-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: none;
}

}
