@import url("CSS/HEADER.css");
@import url("CSS/footer.css");
@import url("/CSS/responsive.css");
@import url("/CSS/biographie.css");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("/responsive.css");

.listes { display: grid;
        grid-area: initial;
        gap: 30px;
        margin: 60px auto;
       justify-content: space-around;
        grid-template-columns: 1fr 1fr;
    
}

.list{
    display: grid;
    justify-content: flex-end;
    align-items: baseline;
    gap: 10px;
}
.bienvenue{
    display: grid;
    font-size: medium;
    background-color: rgb(245, 237, 214);
    justify-content: left;
    border: 50px;
    padding: 10px;

}
.container{
    max-width: 600px;
    margin: auto;
}
.bienvenue p{
     font-family: 'Times New Roman', Times, serif, cursive;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style:inherit;
}
#lien a{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: large;
    font-style:normal;
}     
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#lien{
    justify-content: flex-end;
    display: flex;

}
#lien a:hover{
   color: rgb(134, 103, 16);
} 

main{
    display: grid;
    background-color: rgb(248, 240, 228);
     font-family: "Dancing Script", cursive;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.formulaire{
    display: flex;
    justify-content: center;
    flex-direction: column;
}




/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  max-width:60%;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;

 aspect-ratio: 16/9;

}



/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-weight: bold;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.row{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: max-content;
}

img{
    vertical-align: middle;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}