header {
    display: flex;
    grid-template-columns: auto;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, rgb(131, 128, 111) 0%, rgb(202, 187, 98) 50%, rgb(228, 208, 98) 100%);
    font-size: larger;
    font-family: "Dancing Script", cursive;
    gap: 2em;
}

#menu-list {
    display: flex;
    margin: 10px;
    justify-content: space-between;
   color: black;
    gap: 2rem;
    list-style: none;
    font-size: large;
    font-weight: 100;
    
}
#menu-list li a{
    text-decoration: none;
    color: black;
    padding-right: 2em;
  
}
#logo img a{
    display:flex;
    align-items: flex-start;

} 
#logo{
     padding: 0.2em 1em;
}

#titre a h1:hover{
    font-weight: bold; color: rgb(134, 103, 16);

} 

#menu-list li a:hover{
color: rgb(85, 63, 53);
background-color:rgb(134, 103, 16);
border-radius: 60%;
padding: 0.2em 1em;

} 

     
#menu-list{
    display: none;
    list-style: none;
    flex-direction: column;
}

#menu-list.active{
    display: flex;
    
}
.barre{
    width: 30px;
    height: 5px;
    background-color: black;
    display: block;
    position: absolute;
}
#menu-toggle{
display: flex;
position: relative;
margin-right: 10px;
width:33px;
height: 25px;
background-color: transparent;
border: none;
}
.barre:nth-child(2){
    top:8px;
}
.barre:nth-child(3){
    top:16px;
}
#menu-toggle.expanded .barre:nth-child(2){
    opacity: 0;
}

#menu-toggle.expanded .barre:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

#menu-toggle.expanded .barre:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
#contact{
    display: flex;
    justify-content: center;
    border-radius: 70%;
    background-color: rgb(134, 103, 16);
    opacity: 80%;
    padding: 0.3em 1em;
    height: max-content;
    width: max-content;
    color: black;
    border: none;
   

}
#contact a{
    text-decoration: none;
    color: black;
    
}
#titre{
    display: flex;
    justify-content: center;
    padding: 0.2em 1em;
    

}
#titre a{
   text-decoration: none; 
   color: black;
    padding: 0 1em;
}